@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;1,400;1,500&display=swap');

:root{
  --primary-font : 'Andada Pro', sans-serif;
}

html,
body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background-color: #191919;
}


hr{
 
}
