.container{
    min-height: 15vh;
    max-width: 25vw;
    background-color: #262626;
    border-radius: 10px;
    margin-bottom: 5vh;
}

.banner{
    padding: 0;
    margin: 0;
    min-height: 30vh;
    max-height: 20vh;
    background-size: 100%;
    max-width: 25vw;
    border-radius: 10px;
    background-size: cover;
      image-rendering: crisp-edges;
      cursor: pointer;
}

.info{
    color: rgba(99, 99, 99, 0.5);
    cursor: pointer;
}

.title{
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    color: white;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 1.5vw;

}

.overlay{
    min-height: 30vh;
    min-width: 25vw;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0;
    margin: 0;
}

.banner_holder{
    text-align : center;
    border-radius : 10px;
    max-height: 40vh;

    padding: 0;
    margin: 0;
    box-shadow: 0px 10px 11px -3px rgba(0,0,0,0.46);
    -webkit-box-shadow: 0px 10px 11px -3px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 10px 11px -3px rgba(0,0,0,0.46);
    }

.banner_holder_container{
    padding: 0;
    margin: 0;
    background-color: rgba(63, 63, 63, 0.15);
    min-height: 30vh;
    min-width: 25vw;
    position: absolute;
    border-radius: 10px;
    cursor: pointer;
}

.popUp{
    padding: 5px;
    background-color: #3b3b3b;
    border-radius: 5px;
    position: absolute;
    font-family: var(--primary-font);
    max-width: 20vw;
    display: flex;
    justify-content: end;
}

.popUp p{
    text-align: left;
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-size: small;
    word-spacing: 2px;
    color: rgba(255, 255, 255, 0.678);
}

.duration{
    padding: 5px 10px 5px 10px;
    margin: 0;
    font-family: var(--primary-font);
    color: rgba(255, 255, 255, 0.55);
    font-size: xx-small;
    background-color: #00000075;
    border-radius: 5px;
}